<h1>All Articles</h1>

<table>
    <thead>
    <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.title%></td>
            <td><%= article.content%></td>
            <td>ph</td>
        </tr>
        <%end%>
    </tbody>
</table>